[submodule ".config/zsh/fzf/fzf-tab"]
	path = .config/zsh/fzf/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".config/zsh/zsh-vi-mode"]
	path = .config/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/zsh-completions"]
	path = .config/zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-fzf-history-search"]
	path = .config/zsh/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule ".config/zsh/fzf/zsh-fzf-history-search"]
	path = .config/zsh/fzf/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/skim.zsh"]
	path = .config/zsh/skim.zsh
	url = https://github.com/casonadams/skim.zsh
