* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.genwin {
  background-color: #2E3440;
  border-radius: 16px;
}

.clockwin {
  // background-color: transparent;
  background-color: #2E3440;
  font-size: 20px;
}

// .time_min {
//   color: #fffff;
//   font-size: 70px;
// }